@model RaceControl.Models.Carrera
@{
    
}

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading ">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                        @* <img src="~/Content/imgTorneo/logo_torneo-CarShow.png" class="img-fluid" width="75px" height="75px">*@
                        @* <img src=@String.Format("/Content/ImgTorneo/logo_torneo-{0}.png",item.nombre) class="img-fluid" width="75px" height="75px">*@
                    </div>
                    <div class="col-xs-9 text-left">
                        <div class="huge">Prueba</div>
                        @*<div>New Comments!</div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-8">
        <input id="buscar" class="form-control">
        <p class="help-block"> Ingrese el nombre, apellido o DNI del piloto </p>
    </div>
    <div class="col-md-4">
        @*<button class="btn btn-default" onclick="buscar(@ViewBag.Categoria.idCategoria)">Buscar</button>*@
    </div>
</div>


