@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><font color="black">Race</font><font color="red">Control</font></h1>
    <p class="lead">Sistema de gestión de torneo</p>
   
</div>

<div class="row">
    <div class="col-lg-12">


        <h1 class="page-header">
            <img src="~/Content/Img/img_torneos48.png" />
            Torneos
        </h1>
    </div>
</div>


<div class="row">

    @foreach (var item in ViewBag.torneos)
    {
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                          
                            <img src=@String.Format("/Content/ImgTorneo/logo_torneo-{0}.png",item.idTorneo) class="img-fluid" width="75px" height="75px">
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@item.nombre</div>
                            @*<div>New Comments!</div>*@
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer" onclick="location.href='@Url.Action("GetOne", "Torneo", new { id = @item.idTorneo })'">
                        <span class="pull-left">Ingresar</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    }

</div>